# Python
__pycache__/
*.pyc

# Virtual environments
env/
.venv/

# Configuration files
*.env
.env.*
!.env.*.example

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs or caches
*.log

# Python packaging
*.egg-info/
dist/
build/
